<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Homework week 5</title>

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<heder>
    <nav>
        <ul>
            <li>Muzyka</li>
            <li>Pogoda</li>
            <li>Gra</li>
        </ul>
    </nav>
</heder>



<p/>
<div class="row">
    <div class="col-1-1">
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Mark</td>
                <td>Model</td>
                <td>Color</td>
                <td></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car: ${cars}">
                <td th:text="${car.getId()}">Id</td>
                <td th:text="${car.getMark()}">Mark</td>
                <td th:text="${car.getModel()}">Model</td>
                <td th:text="${car.getColor()}">Color</td>
                <td>
                    <form action="#" th:action="@{'/delete/{id}'(id=${car.id})}" th:method="delete">

                        <button type="submit" id="submitDelete">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{'/cars/{id}'(id=${car.id})}" th:method="get">
                        <button type="submit" id="submitEdit">Edit</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1-2">
        <form th:action="@{/add}" th:object="${newCar}" method="post">
            <p>Mark: <input type="text" th:field="*{mark}"></p>
            <p>Model: <input type="text" th:field="*{model}"></p>
            <p>Color: <input type="text" th:field="*{color}"></p>
            <p><input type="submit" value="add new car"></p>
        </form>
    </div>
</div>
</body>
</html>