<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/static/css/style.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/deezer/${artist}}" method="get">
    <p>Podaj nazwę wykonawcy: <input th:field="*{artist}" type="text">
        <input type="submit" value="Znajdź"></p>
</form>

<h2>Znaleziono wykonawców o podanej nazwie w serwisie Deezer</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa wykonawcy</th>
    </tr>
    <tr th:each="album: ${albums}">
        <td th:text="${album.getId()}"/>
        <td th:text="${album.getName()}"/>
    </tr>
</table>



</body>
</html>