<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<form th:action="@{/deezer}" method="get">
    <!--    <form th:action="@{/deezer}" th:headers="${String}" method="get">-->
    <p>Podaj nazwę wykonawcy: <input name="artist" type="text">
        <input type="submit" value="sprawdź"></p>
</form>

<h1>Znalezieni wykonawcy o tej nazwie w serwisie Deezer</h1>
<table>
    <tr>
        <th>Znalezieni wykonawcy o podanej nazwie</th>
    </tr>
    <tr th:each="album: ${albums}">
        <td th:text="${album.getName()}"/>
        <br>
        <!--    <td th:text="${album.getPicture()}"/>-->
    </tr>
</table>
</body>
</html>