@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap&subset=latin-ext');

body{
    background: #ccc;
	font-family: 'Raleway', sans-serif; 
}
.row{
    width: 100%;
}

.col-1-1{
    width: 20%;
    padding: 10px;
    float: left;
}

.col-1-2{
    width: 47%;
    padding: 10px;
    float: left;
}

